<div class="row">
  
<%@teams.each do |team| %>

   <div class="col-lg-3 col-sm-3 col-6">
    <%=link_to team_path(team) do %>
     <div class="card mt-3">
        <div class="card-body">
          <h4 class="card-title text-center text-capitalize " ><%=team.team_name%></h5>
            <hr>
         <span class ="badge badge-primary ">Members: <%=team.users.count%> </span>
         <span class ="badge badge-primary "> Created_by: <%=  %></span>
           <hr>
           <%= link_to 'view',team_path(team.id),class:"btn btn-sm btn-success"%>
  
            <% if current_user.teams.where(team_name: team.team_name).exists? %>
             <span class ="badge badge-primary ml-3",align="right"> Current Team </span>
           
              <% else %>
             
              <% end %>
        </div>
    </div>
    <% end %>
   </div>
<% end %>
</div>