<div class="container mt-5">
  <h4>Teamname:<%=@teams.team_name.capitalize%></h4>
  <h5> TotalPlayers : <%=  (!@teams.users.present?) ? "No Players in Current Team" : @teams.users.count %>  </h5>  

   
  
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>PlayerName</th>
        <th>PlayerName</th>
        <th>Email</th>
        <th>Joined</th>
        <th>Actions</th>
        <th> <%= link_to "Join", user_teams_path(team:@teams.id,user: current_user),
              class:"btn btn-sm btn-primary float-right", id:"click",method: :post %>
              </th>
        </tr>
        
    </thead>
    <tbody>
      <%@teams.users.each do |tu|%>
      <tr>
        <td><%= tu.first_name + " " + tu.last_name %></td>
        <td><%= tu.last_name %></td>
        <td><%= tu.email %></td>
        <td><%= tu.created_at.to_date %></td>
        
        <% if current_user.email == tu.email %>
        <td> <%= link_to 'Exit Team ', user_team_path(tu.id)  ,class:"btn btn-sm btn-danger",method: :delete,data:{confirm: "Are you sure?"} %>
          <% else %>
          <td><%= link_to 'View Profile', '' ,class:"btn btn-sm btn-primary" %>
           </td>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>