<div class ="container ml-5 mt-5">
  <div class="card text-white bg-white mb-3 mx-auto d-block" style="max-width: 22rem;">
    <div class="card-header bg-danger text-center text-capitalize text-dark"><%=@user.first_name%>
    	
    </div>
    <%= gravatar_for @user, size: 150 %>
    <div class="card-body">
      <h5 class="card-title  text-dark text-left text-capitalize">
      <h5 class="card-title text-dark text-left"><small>email:<%=@user.email%></small></h5>
      <h5 class="card-title  text-dark text-left"><small>current_team:</small>
      	<%= (@user.team.present?) ? @user.team.team_name : "No Team" %>
      	</h5>
      <hr>
      <p class="card-text  text-dark text-left"><small> Teams</small><%=%>.</p>
      <hr>
        <div class ="form-group row">
           <div class ="col-md-4">
        <%=link_to "back",teams_path,class:"btn btn-md btn-primary"%>
          </div>
          <% if current_user.email == @user.email %>
          <div class ="col-md-4">    
        <%=link_to "Edit",edit_user_registration_path(current_user),class:"btn btn-md btn-warning"%>
          </div>
         <div class ="col-md-4">
        
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
